﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/image/favicon.ico" />
    <title>Generador de codigo</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/lib/devextreme/jszip.js"></script>

    <script src="~/lib/jquery/3.4.1/jquery.min.js"></script>


    <script src="~/lib/devextreme/cldr.js"></script>
    <script src="~/lib/devextreme/cldr/event.js"></script>
    <script src="~/lib/devextreme/cldr/supplemental.js"></script>
    <script src="~/lib/devextreme/cldr/unresolved.js"></script>

    <script src="~/lib/devextreme/globalize.js"></script>
    <script src="~/lib/devextreme/globalize/message.js"></script>
    <script src="~/lib/devextreme/globalize/number.js"></script>
    <script src="~/lib/devextreme/globalize/currency.js"></script>
    <script src="~/lib/devextreme/globalize/date.js"></script>

    <script src="~/lib/devextreme/dx.all.js"></script>

    <script src="~/lib/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/lib/devextreme/aspnet/dx.aspnet.mvc.js"></script>

    @*<script src="~/lib/devextreme/vectormap-data/world.js"></script>*@

    @* Archivos de traducción *@

    <script src="~/lib/devextreme/translation/devextreme-intl.min.js"></script>
    <script src="~/lib/devextreme/translation/polyfill.min.js"></script>

    @* Diccionario Español *@

    <script src="~/lib/devextreme/localization/dx.messages.es.js"></script>

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/lib/fontawesome/fontAwesomeFree5.9.0.js" data-auto-replace-svg="nest"></script>

    <link rel="stylesheet" href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="~/image/002.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Generador de Codigo
        </a>
        
        <div class="text-white">@Environment.GetEnvironmentVariable("Version")</div>

        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
        @*<div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Negocio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Roe">Roe</a>
                </li>
            </ul>
        </div>*@
    </nav>
    <div>
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3" id="mainPanel">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
